python-dotenv
requests
numpy>=1.24.0
pandas>=2.0.0
scipy
torch
jupyterlab
ipywidgets
matplotlib
scikit-learn
chromadb
jupyter-dash
pyarrow
beautifulsoup4
plotly
transformers
sentence-transformers
datasets>=3.6.0
openai
anthropic
google-generativeai
gradio
gensim==4.3.3
modal
ollama
psutil
setuptools
speedtest-cli
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
feedparser
twilio
pydub
protobuf==3.20.2
wandb
